

<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Bar Chart</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="chart">
            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 324px;" width="648" height="500" class="chartjs-render-monitor"></canvas>
        </div>
    </div>
    <!-- /.card-body -->
</div>
@section scripts{
    <script src="~/Content/clients/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Content/clients/plugins/moment/moment.min.js"></script>
    <script>
        $(function () {

            var arrDate = [];
            var arrDanhThu = [];
            const VND = new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND',
            });

            $.ajax({
                url: '/Statistical/GetStatistical',
                type: 'GET',
                data: [],
                success: function (rs) {
                    $.each(rs.data, function (i, item) {
                        var strDate = moment(item.Date).format('DD/MM/YYYY');
                        arrDate.push(strDate);
                        arrDanhThu.push(item.Danhthu);
                        console.log(VND.format(item.Danhthu))
                        console.log(arrDate)
                    })
                    var areaChartData = {
                        labels: arrDate,
                        datasets: [
                            {
                                label: 'Danh thu',
                                backgroundColor: 'rgba(60,141,188,0.9)',
                                borderColor: 'rgba(60,141,188,0.8)',
                                pointRadius: false,
                                pointColor: '#3b8bba',
                                pointStrokeColor: 'rgba(60,141,188,1)',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: 'rgba(60,141,188,1)',
                                data: arrDanhThu
                            }
                        ]
                    }
                    //- BAR CHART -
                    //-------------
                    var barChartCanvas = $('#barChart').get(0).getContext('2d')
                    var barChartData = $.extend(true, {}, areaChartData)
                    var temp0 = areaChartData.datasets[0]
                    barChartData.datasets[0] = temp0;

                    var barChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        datasetFill: false
                    }

                    new Chart(barChartCanvas, {
                        type: 'bar',
                        data: barChartData,
                        options: barChartOptions
                    })
                }
            })
        })
    </script>

}

