@model IEnumerable<webBangHangOnline.Models.ShoppingCartItem>

@{
    ViewBag.Title = "Giỏ hàng";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12" id="load-data">
                    @Html.Action("PartialItemCart", "ShoppingCart")
                    @if (Model != null && Model.Any())
                    {
                        <div class="col-md-12">
                            <div class="text-right">
                                <a href="#" class="btn btn-sm btn-danger btnDelAll">Xóa</a>
                                <a href="/thanh-toan" class="btn btn-sm btn-success btnThanhToan">Thanh toán</a>
                            </div>
                        </div>  
                    }
                </div>
            </div>
        </div>
    </div>
</div>
